<div class="container">
  <div class="page-header">
    <a [routerLink]='["."]'>
      <img src="/public/img/logo.png" alt="" width="150px">
    </a>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <app-menu [scrollMargin]="scrollMargin"></app-menu>
    </div>
    <div class="col-md-6 col-sm-9">
      <router-outlet></router-outlet>
    </div>
    <div id="right-col" class="col-sm-3 until-md" [ngStyle]="{marginTop: scrollMargin+'px'}">

    </div>
  </div>
</div>
