<div class="panel panel-default" style="border-radius:0px;">
  <div class="panel-body">
    <h1 style="margin:-5px 0px 5px 0px"><small>
      <span class="glyphicon glyphicon-usd" aria-hidden="true"></span> 회계
    </small></h1>
    <hr style="margin:0px 0px 5px 0px">

    <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
    <p style="margin:5px 0px 5px 0px">
      <b style="color:blue">수입 : {{ toMoneyFormat(get) }},</b><b style="color:red">지출 : {{ toMoneyFormat(spend) }},</b>
      <b [ngStyle]="{'color' : get+spend >= 0 ? 'blue':'red'}">총합: {{ toMoneyFormat(get+spend) }}</b>
    </p>
    <button type="button"
            class="btn btn-primary"
            style="border-radius:0px;margin:5px 0px 5px 0px"
            *ngIf="authService.UserProfile['leader']"
            (click)="save()">저장하기</button>

  </div>
</div>
