<div *ngFor="let article of articleList | async" class="panel panel-default" style="border-radius:0px">
  <div class="panel-body">
    <div class="media">
      <div class="media-left">
        <img src="http://lorempixel.com/50/50" width="50px" class="img-circle">
      </div>
      <div class="media-body">
        <h3 class="media-heading">{{ article.title }}</h3>
          {{ article.name }} | 시간
      </div>
      <hr style="margin-top:10px;margin-bottom:10px">
      <div [innerHTML] = "sanitizeHTML(article.body)"></div>
    </div>
  </div>
</div>
