<div class="col-md-offset-6 col-md-6" id="jumbo">

  <div class="wrapper">
    <div class="jumbotron outer">
      <img src="/public/img/logo.png" width="250px" style="margin-bottom:10px">

      <form #f="ngForm" (ngSubmit)="OnSubmit(f.value)">
          <input type="text" class="form-control" placeholder="email" ngModel name="email" required>
          <input type="password" class="form-control" placeholder="password" ngModel name="passwd" required>
          <button type="submit" class="btn btn-primary btn-block" style="border-radius:0px">입장하기</button>
      </form>

    </div>
  </div>

</div>
