<div class="wrapper">
    <div class="centered">

      <div class="row">
        <ul style="list-style:none; padding:0px">
          <a *ngFor="let user of userList; let i = index" (click)="onUserClick(i)">
            <li class="menuButton">
              <img src="{{ user.imagePath }}" class="img-circle img-square user-thumb">
            </li>
          </a>
        </ul>
      </div>

      <div class="row">
        <div class="col-sm-offset-4 col-sm-4">

          <form *ngIf="userSelected" #f="ngForm" (ngSubmit)="onSubmit(f.value)">
            <div  [@userSelectChanged]="userSelected" style="opacity:0">
              <input type="text" *ngIf="!userHasEmail" class="form-control" style="margin-top:10px" placeholder="e-mail" ngModel name="email" required>
              <input type="password" class="form-control" style="margin-top:10px" placeholder="key" ngModel name="passwd" required>
              <button type="submit" class="btn btn-success btn-block" style="border-radius:0px;margin-top:10px;">입장하기</button>
            </div>
          </form>

        </div>
      </div>

    </div>
</div>
