#background {
    position: absolute;
    left:0; top:0;
    background-size: cover;
    width: 100%;
    background-image: url("http://cfile22.uf.tistory.com/image/111C80464E5E49C4079BC9");
    z-index: -1;
    height: 100%;
}
