#background {
    position: absolute;
    left:0; top:0;
    background-size: cover;
    width: 100%;
    background-image: url("http://cfile21.uf.tistory.com/image/274C663A5243CF181785F4");
    z-index: -1;
    height: 100%;
}
