<div *ngIf="!mobileMenu" class="list-group">
  <a *ngFor="let menu of MenuList" class="list-group-item" [routerLink]="[menu.link]" style="border-radius: 0px">
    <span class="glyphicon {{ menu.glyphicon }} pull-right" aria-hidden="true"></span>{{ menu.name }}
  </a>
  <a href="#" class="list-group-item" style="border-radius: 0px" (click)="Logout()">
    <span class="glyphicon glyphicon-off pull-right" aria-hidden="true"></span>로그아웃
  </a>
</div>

<!-- Mobile Menu -->
<div *ngIf="mobileMenu" class="footer">
 <button type="button" *ngIf="!mobileMenuDisplay" class="btn btn-info btn-circle btn-lg pull-right" style="margin:10px" (click)="mobileMenuDisplay = true;"><i class="glyphicon glyphicon-plus"></i></button>
 <button type="button" *ngIf="mobileMenuDisplay" class="btn btn-danger btn-circle btn-lg pull-right" style="margin:10px" (click)="mobileMenuDisplay = false;"><i class="glyphicon glyphicon-minus"></i></button>
</div>

<div *ngIf="mobileMenuDisplay && mobileMenu" class="centered">
  <div class="panel panel-default" style="border-radius:0px;width: 75vw;margin:0px;">
    <div class="panel-body">
      <ul style="list-style:none; padding:0px">
        <a *ngFor="let menu of MenuList" [routerLink]="[menu.link]" (click)="mobileMenuDisplay = false">
          <li class="menuButton">
            <button type="button" class="btn btn-info btn-circle btn-lg"><span class="glyphicon {{ menu.glyphicon }} pull-right" aria-hidden="true"></span></button>
            <p style="margin-top:20px;font-size:10px;color:black">{{ menu.name }}</p>
          </li>
        </a>
        <a href="#" (click)="Logout()">
          <li class="menuButton">
            <button type="button" class="btn btn-info btn-circle btn-lg"><span class="glyphicon glyphicon-off pull-right" aria-hidden="true"></span></button>
            <p style="margin-top:20px;font-size:10px;color:black">로그아웃</p>
          </li>
        </a>
      </ul>
    </div>
  </div>
</div>
<!-- Mobile Menu end -->
