/* You can add global styles to this file, and also import other style files */
#my-table{
  word-break: normal;
  margin:0px;
}

#my-table th{
  font-size:1.2rem
}

#my-table td{
  font-size:1.2rem
}
