<div class="panel panel-default" style="border-radius:0px;margin:0px">
  <div class="panel-body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
      <input type="text" class="form-control"
             placeholder="제목"
             style="border-radius:0px; margin-bottom:10px"
             [(ngModel)] = "article.title"
             name="title"
             required>
      <input type="file" accept="video/*"
             style="display:inline-block;margin-top:2.4px"
             #input (change)="onChange(input)"
             required>
      <input type="submit"
             class="btn btn-primary pull-right"
             style="border-radius:0px;"
             value="등록하기"
             *ngIf="buttonisOn && authService.UserProfile['isLoggedIn']">
    </form>
  </div>
</div>

<div *ngIf="!buttonisOn" class="progress" style="margin:10px 0px 0px 0px">
  <div class="progress-bar progress-bar-danger progress-bar-striped active"
       role="progressbar" [attr.aria-valuenow]="progressValue"
       aria-valuemin="0" aria-valuemax="100"
       [ngStyle]="{width: progressValue+'%'}">
       {{ progressValue | number : '1.2-2' }}%
  </div>
</div>
